*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
build-env.sh

# Python
__pycache__/
*.pyc

# Firma release (NON committare)
*.jks
keystore.properties
